{#def knowledge_base_id, files #}
<div id="kb-files-table">
  <common.Table headers={{ ["Name", "Uploaded", ""] }}>
    {% for file in files %}
    <pages.kb.FileRow file={{ file }} knowledge_base_id={{ knowledge_base_id }} />
    {% else %}
    <tr><td colspan="3" class="kb-files-empty">No files yet. Upload some to get started.</td></tr>
    {% endfor %}
  </common.Table>
</div>
