{#def knowledge_base_id #}
<div class="kb-upload-menu" id="kb-upload-menu">
  <common.MenuTrigger icon="upload" label="Upload" target="kb-upload-popover" />
  <form action="/knowledge-bases/{{ knowledge_base_id }}/files" method="post"
        enctype="multipart/form-data" data-kb-upload-form
        data-max-files="5" data-max-bytes="26214400">
    <common.Menu id="kb-upload-popover" labelledby="kb-upload-popover-trigger"
                 placement="bottom-start" class="kb-upload-popover">
      <common.MenuItem icon="file-plus" label="Upload file"
        onclick="var input=this.form.querySelector('[data-kb-upload-input]'); input.removeAttribute('webkitdirectory'); input.value=''; input.click();" />
      <common.MenuItem icon="folder-plus" label="Upload folder"
        onclick="var input=this.form.querySelector('[data-kb-upload-input]'); input.setAttribute('webkitdirectory', ''); input.value=''; input.click();" />
    </common.Menu>
    <input type="file" name="files" data-kb-upload-input multiple hidden>
    <div class="kb-upload-status" data-kb-upload-status role="status" aria-live="polite" hidden>
      <span data-kb-upload-message></span>
      <common.Button type="button" variant="secondary" size="sm" data-kb-upload-retry hidden>Retry</common.Button>
    </div>
  </form>
</div>
