DATABASE__PASSWORD=
MIGRATOR__PASSWORD=
OPENWEBUI__PASSWORD=
AUTH_JWT_SECRET=
AUTH__BOOTSTRAP_ADMIN_EMAIL=
WEBUI_SECRET_KEY=
WEBUI_ADMIN_EMAIL=
WEBUI_ADMIN_PASSWORD=
ANTHROPIC_API_KEY=
WEB_PUBLIC_URL=
OPEN_WEBUI_PUBLIC_URL=
