{#def users, size=28, max_visible=3 #}
{% set visible_users = users[:max_visible | int] %}
<ul class="avatar-stack" aria-label="Shared with {{ users | map(attribute='name') | join(', ') }}">
  {% for user in visible_users %}
  <li><common.Avatar name={{ user.name }} size={{ size }} /></li>
  {% endfor %}
  {% if users|length > visible_users|length %}
  <li class="avatar-stack-more">+{{ users|length - visible_users|length }}</li>
  {% endif %}
</ul>
